body{
    background-color:#0d1117;
    color:white;
    text-align:center;
    font-family:Arial;
}

nav{
    margin:20px;
}

nav a{
    color:aqua;
    margin:10px;
    text-decoration:none;
}

section{
    background:#1e00a1;
    width:50%;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
}

button{
    padding:10px 20px;
    background:#2fdb18;
    border:none;
    border-radius:8px;
    cursor:pointer;
}